= semantic_form_for [:admin, @book], builder: ActiveAdmin::FormBuilder do |f|
  = render partial: 'admin/shared/errors', locals: { object: @service }
  = f.inputs 'Details' do
    = f.input :category
    = f.input :authors, collection: Author.all.decorate
    = f.input :title
    = f.input :description
    = f.input :price
    = f.input :published_at, as: :datepicker
    = f.input :height
    = f.input :width
    = f.input :depth
    = f.input :materials
  = f.actions
