%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t 'devise.confirmations.header'
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'general-form' }) do |f|
    .form-group.mb-30
      = f.label :email, class: 'control-label input-label'
      = render "devise/shared/error_messages", resource: resource, error_field: :email
      = f.email_field :email, id: 'email', class: 'form-control', autofocus: true, placeholder: t('devise.confirmations.placeholders.enter_email')
    .text-center
      = f.submit t('buttons.resend_confirmation'), class: 'btn btn-default mb-20'
