= form.hidden_field :address_type, value: address_type
= form.input :first_name
= form.input :last_name
= form.input :address
= form.input :city
= form.input :zip_code
= form.input :country, collection: countries,
          prompt: t('simple_form.placeholders.defaults.country')
= form.input :phone
= form.button :submit, t('buttons.save'), id: "submit-#{address_type}-address"
