= simple_form_for(current_user, url: registration_path(:user), method: :put, html: { id: 'edit-password' }) do |f|
  = f.input :current_password
  = f.input :password
  = f.input :password_confirmation
  .general-text-align
    = f.button :submit, t('buttons.save')
