%p.in-gold-500.font-18= t('order.order_summary')
%table.general-summary-table.general-summary-table-right.general-text-right
  %tr
    %td
      %p.font-16= t('order.subtotal')
    %td
      %p.font-16= number_to_currency(order.subtotal_price)
  %tr
    %td
      %p.font-16= t('order.coupon')
    %td
      %p.font-16= number_to_currency(order.coupon_discount)
  %tr
    %td
      %strong.font-18= t('order.order_total')
    %td
      %strong.font-18= number_to_currency(order.order_total)
