.row.mb-60
  .col-sm-5
    %p.in-gold-500.font-18.mb-25= t 'devise.registrations.edit.email_header'
    = render partial: 'settings/partials/forms/email', locals: { resource: @presenter.resource, resource_name: @presenter.resource_name, devise_mapping: @presenter.devise_mapping }
  .col-sm-5.col-sm-offset-1
    %p.in-gold-500.font-18.mb-25= t 'devise.registrations.edit.password_header'
    = render partial: 'settings/partials/forms/password', locals: { resource: @presenter.resource, resource_name: @presenter.resource_name, devise_mapping: @presenter.devise_mapping }
  .col-sm-12
    %p.in-gold-500.font-18.mb-25= t 'devise.registrations.edit.remove_account_header'
    = render 'settings/partials/forms/remove_account'
