.general-main-wrap
  = simple_form_for(:address, url: addresses_path, html: { id: 'addresses_form' }) do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle.mt-0= t('devise.registrations.edit.billing_address')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle.mt-0= t('devise.registrations.edit.shipping_address')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle.mt-0= t('devise.registrations.edit.billing_address')
        = f.simple_fields_for :billing, current_user.billing_address do |ba|
          = render partial: 'devise/registrations/partials/forms/fields', locals: { address_type: :billing, countries: countries, form: ba }
      .col-md-5.col-md-offset-1.mb-25
        .visible-xs.visible-sm
          %h3.general-subtitle.mt-0= t('devise.registrations.edit.shipping_address')
        = f.simple_fields_for :shipping, current_user.shipping_address do |sa|
          = render partial: 'devise/registrations/partials/forms/fields', locals: { address_type: :shipping, countries: countries, form: sa }
