%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            %a.nav-link.home_link{href: root_path}= t 'links.home'
          %li
<<<<<<< HEAD
            %a.nav-link.shop_link{href: books_path}= t 'links.shop'
=======
            %a.nav-link.shop_link{href: books_path} #{t 'links.shop'}
>>>>>>> 7fd6fe42bb12c5b54502b5ac3b72d5a55c8cb7bd
          %li
            %a.nav-link.orders_link{href: "#"}= t 'links.orders'
          %li
            %a.nav-link.settings_link{href: "#"}= t 'links.settings'
      .col-sm-3
        %p.general-nav-mail support@bookstore.com
        %p.general-nav-number (555)-555-5555
        %ul.list-inline.general-align
          %li
            %a.facebook-link.nav-link{href: "#"}
              %i.fab.fa-facebook-f{'aria-hidden': "true"}
          %li
            %a.twitter-link.nav-link{href: "#"}
              %i.fab.fa-twitter{'aria-hidden': "true"}
          %li
            %a.google-link.nav-link{href: "#"}
              %i.fab.fa-google-plus-g{'aria-hidden': "true"}
          %li
            %a.instagram-link.nav-link{href: "#"}
              %i.fab.fa-instagram{'aria-hidden': "true"}
